@use '../abstracts/abstracts' as *;

body {
    background-color: $black;
    background-image: url('./img/circle.svg'), url('./img/icon-rings-left.svg'), url('./img/icon-rings-right.svg');
    background-repeat: no-repeat;
    background-position: right top 5.55%, left top 2.7%, right top 26.64%;
    background-size: 18%, 50%, 50%;
    @include breakpoint(tablet){
        font-size: 18px;
        background-image: url('./img/icon-rings-left.svg'), url('./img/icon-rings-right.svg');
        background-repeat: no-repeat;
        background-position: left top 2.7%, right top 26.64%;
        background-size: 50%, 50%;

    }
}

