@use '../abstracts/abstracts' as *;

.hero {
    @include flex-column-center();
    margin-bottom: 80px;

    &__title {
        text-align: center;
        margin-bottom: 24px;
        .underline {
            display: inline-block;
            border-bottom: 4px $green solid;
            margin-bottom: -2px;
        }
    }

    &__description {
        text-align: center;
        margin-bottom: 24px;
    }
}

// Media query tablet
.hero{
    @include breakpoint(tablet) {
        align-items: start;
        width: 75%;
        margin-bottom: 60px;

        &__title {
            text-align: start;
            margin-bottom: 60px;
            span:first-child {
                display: inline-block;
            }

            .underline {
                border-bottom: 6px $green solid;
            }
        }

        &__description {
            text-align: start;
            width: 80%;
            margin-bottom: 34px;
        }
    }
}

// Media query desktop

.hero {
    @include breakpoint(desktop) {
        width: 58%;
        margin-bottom: 180px;
        &__title {
            margin-bottom: 40px;
        }

        &__description {
            width: 60%;
            margin-bottom: 66px;
        }
    }
}

// Media query desktopxl

.hero {
    @include breakpoint(desktopxl) {
        margin-bottom: 240px;
        width: 60%;

        &__title {
            margin-bottom: 70px;
        }

        &__description {
            width: 60%;
        }
    }
}