@use '../abstracts/abstracts' as *;

.projects {
    padding-top: 80px;
    margin-bottom: 80px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin-bottom: 40px;
    }

    &__article {
        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }

    &__img {
        width: 100%;
        margin-bottom: 20px;
    }

    &__subtitle {
        margin-bottom: 7px;
    }

    &__languages {
        margin-bottom: 20px;
        span+span{
            margin-left: 18px;
        }
    }

    &__views {
        .button:last-child {
            margin-left: 30px;
        }
    }
}

// Media query tablet
.projects {

    @include breakpoint(tablet) {
        padding-top: 0;
        &__header {
            align-items: center;
            margin-bottom: 60px;
        }

        &__container {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: space-between;
        }

        &__article {
            width: 48%;
        }
    }
}

// Media query desktop
.projects {
    @include breakpoint(desktop) {
        &__header {
            margin-bottom: 80px;
        }

        &__img {   
            transition: opacity 0.3s ease;
        }

        &__article {
            position: relative;
            overflow: hidden;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 78%;
                background-color: rgba($color: #000000, $alpha: 0.5);
                opacity: 0;
                transition: opacity 0.3s ease;
                z-index: 1; // Posiciona la opacidad por encima de la imagen
            }
        }

        &__views {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -110%);
            .button:last-child {
                margin-left: 0;
            }
            display: none;
            z-index: 2; // Posiciona el elemento por encima de la opacidad
        }
        // Efecto de opacidad al pasar el cursor sobre el área del artículo
        &__article:hover .projects__img {
            opacity: 0.3;
        }

        &__article:hover .projects__views {
            @include flex-column-center();
            gap: 48px;
        }
    }
}
